* {
    font-size: 15px;
}

h1 {
    font-size: 10vmin;
}
body{
    text-align: center;
    display: center;
    flex-direction: row;
    padding: 100px;
    font-family: sans-serif;
}

input {
    flex-direction: row;
    display: center;
    padding: 40px;
    border-radius: 5px;
    margin: 10px 0;
    text-align: center;
    background-color: white;
}

.input button {
    background-color: grey;
    color: black;
}

